<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="kalpas.insta" />

    <!-- <bean id="httpClient" class="org.apache.http.impl.client.HttpClients" 
        factory-method="createDefault"> </bean> -->
    <bean id="httpClient" class="kalpas.insta.api.HttpClientFactory"
        factory-method="getHttpClient">
    </bean>

    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"></bean>

    <!-- <bean id="neo4jDBService" class="kalpas.insta.persist.Neo4jDBServiceFactory"
        factory-method="getNeo4jService">
        <constructor-arg value="insta.db"></constructor-arg>
    </bean> -->
    
    <bean id="neo4jDBService" class="kalpas.insta.persist.Neo4jDBServiceFactory"
        factory-method="getMockNeo4jService">
    </bean>
</beans>