body{
	padding: 50px;
}

.navbar-header img{
	border-radius:100%;
	height:50px;
}

.col-lg-3 .panel{
	margin-top: 30px;
}

.panel .panel-heading{
	text-align: center;
}

.panel-body{
	height: 85%;
	overflow:auto;
}

#mutual-template, #friend-template{
	display:none;
}

.mutual-result-container tr{
	text-align:center;
}

.mutual-result-container div{
		text-align:center;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right{
	color:red;
}

.mutual-picture{	
	width:100px;
	border-radius:100%;
}

.friends div{		
	overflow: hidden;
	text-overflow: ellipsis;
}

.friends .glyphicon.glyphicon-chevron-left,.friends .glyphicon.glyphicon-chevron-right{
	color:red;
	font-size:10pt;
}

.friends a{
	font-size: 10pt;
}

.friend-picture{
	width:100px;	
	border-radius: 100%;
}

.progress{
	display:none;
}

footer{
	text-align:center;
}

